@model DataCollectionPRJ.Entity.ViewModels.User.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oil And Data Collection! | </title>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
</head>


<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div id="divLogin" class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Ajax.BeginForm("Login", "User", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divLogin" }))
                    {


                        <h1>Login Form</h1>
                        <div>
                            @Html.TextBoxFor(model => model.WebUserName, new { @class = "form-control", placeholder = "User Name" })
                            @Html.ValidationMessageFor(model => model.WebUserName, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.UserPassword, new { @class = "form-control", placeholder = "Password", @type = "password" })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>

                        <div>
                            <input type="submit" name="submit" class="btn btn-default" />
                            @*<a class="btn btn-default submit" href="index.html">Log in</a>*@
                            <a class="reset_pass" href="#">Lost your password?</a>

                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Oil And Data Collection!</h1>
                            </div>
                        </div>
                        @Html.ValidationMessage("Error", new { @class = "error" })
                    }
                </section>
            </div>
            <div id="divRegForm" class="animate form registration_form">
                <section class="login_content">

                    @using (Ajax.BeginForm("CreateAccount", "User", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "divRegForm"

                    }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h1>Create Account</h1>
                        <div>

                            @Html.TextBoxFor(model => model.WebUserName, new { @class = "form-control", placeholder = "User Name" })
                            @Html.ValidationMessageFor(model => model.WebUserName, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.WebEmailId, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(model => model.WebEmailId, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.UserPassword, new { @class = "form-control", placeholder = "Password", @type = "password" })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, "--Select Company--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>
                        <div style="padding-top:20px">
                            @Html.DropDownListFor(model => model.RoleId, Model.RoleList, "--Select Role--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>

                        <div style="padding-top:20px">
                            @Html.DropDownListFor(model => model.LocationId, Model.LocationList, "--Select Location--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                        </div>
                        <div style="padding-top:20px">
                            <input id="btnSubmit" type="submit" name="Submit" class="btn btn-default" value="Submit" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Oil And Data Collection!</h1>

                            </div>
                        </div>

                    }
                </section>
            </div>
        </div>
    </div>

</body>

</html>
<script src="~/scripts/jquery-3.3.1.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>



